name: Metrics
on:
  # Schedule updates (every day at midnight)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run it manually from the Actions tab
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: hesara2003
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Colombo
          
          # The "Isometric Calendar" (Green 3D blocks in your image)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # The "Most Used Languages" bar
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # The "Mastered Technologies" (Icons at the bottom)
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: icons
